.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #1a1a1a; 
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  color: white;
  text-align: center;
  border: 1px solid #444;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.modal-history-list {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 15px;
  text-align: left; 
  padding-right: 10px;
}


.modal-history-list::-webkit-scrollbar {
  width: 6px;
}

.modal-history-list::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

.modal-close-btn {
  margin-top: 20px;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  font-weight: bold;
  transition: background-color 0.2s;
}

.modal-close-btn:hover {
  background-color: #ff3333;
}
.modal-Queue-btn {
  background-color: rgb(25, 55, 94);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.modal-Queue-btn:hover {
  background-color: rgb(34, 78, 136);
}