.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.login-box {
  background-color: white;   
  padding: 40px;
  border: 2px solid #333;    
  border-radius: 20px;       
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;          
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px; 
  background-color: #f0f2f5; 
  color:  rgb(25, 55, 94);    
}

button {
  padding: 12px;
  background-color: rgb(25, 55, 94);
  color: white;
  border: none;
  border-radius: 8px;        
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}