.map-page {
  background-color: #F3F4F6;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.lot-title {
  color: #E31C23; 
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.grid-container {
  display: grid;
  
  grid-template-columns: repeat(10, 1fr); 
  gap: 25px 10px; 
  max-width: 1200px;
  margin: 0 auto;
}

.slot-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-icon {
  font-size: 2.5rem;
}


.occupied { color: #A52A2A; } 
.vacant { color: #32CD32; }   

.status-text {
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 4px;
}