body{
    margin:0;
    padding: 0;
}

.main-header {
  
  border-bottom: 2px solid #333; 
  padding: 5px;                
  background-color: rgb(25, 55, 94);
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout-btn {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #b71c1c;
}
.back-btn
{
  margin-left: auto;
  margin-right: 15px;
}
.logout-btn:active {
  transform: scale(0.98);
}

.main-header h1{
    margin: 0;               
  padding: 20px 0;        
    color: rgb(247, 247, 247);
  line-height: 1;          
  text-align:left;
}