body{
    margin:0;
    padding: 0;
}

.main-header {
  border-bottom: 2px solid #333; 
  padding: 5px;                
  background-color: rgb(25, 55, 94);
  width: 100%;    
}

.main-header h1{
    margin: 0;               
  padding: 20px 0;        
    color: rgb(247, 247, 247);
  line-height: 1;          
  text-align:left;
}