.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/image\ asset/MCL\ login\ bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.95);   
  padding: 60px;
  border: none;    
  border-radius: 40px;       
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(10px);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
}

.login-logo {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
  filter: brightness(1.2);
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px; 
  background-color: #f0f2f5; 
  color:  rgb(25, 55, 94);    
}

button {
  padding: 12px;
  background-color: rgb(25, 55, 94);
  color: white;
  border: none;
  border-radius: 8px;        
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}